.resume h1, .resume h2, .resume h3, .resume h4, .resume p, .resume li{
    color: darkslateblue;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.resume h1{
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.resume h2{
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.resume h3{
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.resume ul{
    display: flex;
    flex-direction: column;
    font-size: 1.17em;

    align-self: center;
}

.resume li {
    display: list-item;
    text-align: -webkit-match-parent;
}

.project{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.resume{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 40px, 40px;
}

.entry-title{
    margin-left: 10px;
}

.entry-info{
    font-style: italic;
    margin-left: 20px;
}

.resume .skill-list{
    display: flex;
    flex-direction: row;
    position: relative;
    list-style: none;
}

.resume div.button{
    position: sticky;
    background-color: darkslateblue;
    padding: 5px, 7px;
    border-radius: 8px;
    width: 200px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

.resume a{
    color: lightblue;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.resume div.button:hover{
    width: 210px;
}