/* project.module.css */

.div {
    padding: 20px;
    border-radius: 8px;
    margin: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .h3 {
    color: darkslateblue;
    font-size: 1.5rem; /* Adjusted font size for consistency */
    margin-bottom: 10px; /* Improved spacing between elements */
  }
  
  .image {
    border-radius: 8px;
  }
  
  .p {
    color: darkslateblue;
  }

  .colFlex{
    display: flex;
    flex-direction: column;
  }

  .rowFlex{
    display: flex;
    flex-direction: row;
  }
  