
.div {
    /* background-color: lightblue; */
    padding: 20px;
    border-radius: 10px;
    margin: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .h3 {
    color: darkslateblue;
    font-size: 2rem;
  }
  
  .div image {
    border-radius: 5px;
  }
  
  .p {
    color: darkslateblue;
    margin-top: 10px;
    font-size: 1.2rem;
    color: darkslateblue;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }

  .div div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    /* height: fit-content;
    width: fit-content; */
  }

  .div:hover{
    background-color: whitesmoke;
  }
  