.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightblue;
    color: #483d8b;
    position:-webkit-sticky;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
}